@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



.nav-header {
    display: flex;
    gap: 17px;
   

    &__nav-link-home,
    &__nav-link-portfolio,
    &__nav-link-contact {
        text-decoration: none;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        color: rgb(255, 255, 255);
        
    }
}

.nav-header {

    &__nav-link-home:hover,
    &__nav-link-portfolio:hover,
    &__nav-link-contact:hover {

        color: #BAFF39;

    }


}