@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
  background-color: #ffffff;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }
}
.header__title {
  text-transform: uppercase;
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  color: rgb(20, 17, 17);
}
.header span {
  color: orange;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 209px;
  margin-top: 60px;
  background-color: black;
  border-radius: 10px 10px 0 0;
}
.footer p {
  color: white;
  font-size: 20px;
}
.footer p span {
  color: orange;
}

.nav-header {
  display: flex;
  gap: 25px;
}
@media screen and (max-width: 768px) {
  .nav-header {
    gap: 12px;
  }
}
.nav-header__nav-link-home, .nav-header__nav-link-portfolio, .nav-header__nav-link-contact {
  text-decoration: none;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: rgb(16, 15, 15);
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .nav-header__nav-link-home, .nav-header__nav-link-portfolio, .nav-header__nav-link-contact {
    font-size: 12px;
  }
}

.nav-header .active {
  color: orange;
}

.home-citation {
  text-align: center;
  margin-top: 40px;
  font-family: "EB Garamond", serif;
  font-size: 25px;
}

.home {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: auto;
  margin-top: 20px;
  border-radius: 25%;
}
.home__title {
  font-family: "Fira";
  font-size: 40px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  letter-spacing: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .home__title {
    font-size: 25px;
  }
}

.section-container {
  padding: 50px 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #F8F8FF;
  margin-top: 40px;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .section-container {
    flex-direction: column;
  }
}
.section-container__div1 {
  width: 45%;
  height: 600px;
  background: linear-gradient(180deg, rgb(169, 169, 169), orange);
  justify-content: center;
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .section-container__div1 {
    width: 100%;
    height: 500px;
  }
}
.section-container__div1 .circle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../assets/images/photo-seb1.jpeg");
  background-size: cover;
  padding: 130px;
  border-radius: 50px;
  background-color: black;
}
@media screen and (max-width: 768px) {
  .section-container__div1 .circle {
    padding: 90px;
    top: 30%;
  }
}
.section-container__div1 .circle__text {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-container__div1 .circle__text h2 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: white;
  width: 200px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .section-container__div1 .circle__text h2 {
    text-align: center;
  }
}
.section-container__div2 {
  width: 60%;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  display: flex;
  margin: auto;
  padding: 5px;
  border: 5px solid black;
}
@media screen and (max-width: 768px) {
  .section-container__div2 {
    width: 100%;
  }
}
.section-container__div2 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}
.section-container__div2 div .fa-solid {
  font-size: 25px;
  color: #10100f;
}
@media screen and (max-width: 768px) {
  .section-container__div2 div .fa-solid {
    padding-top: 5px;
  }
}
.section-container__div2 div .fa-terminal {
  display: flex;
  justify-content: flex-start;
  padding-left: 25px;
}
.section-container__div2 div p {
  padding: 0 20px 0 20px;
  font-family: "Fira Code", monospace;
  font-size: 20px;
}
.section-container__div2 div .fa-code {
  display: flex;
  justify-content: end;
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .section-container__div2 div .fa-code {
    padding-bottom: 5px;
  }
}
.section-container__div2 div .navdiv2 {
  color: rgb(0, 0, 0);
  padding: 14px 24px;
  background: linear-gradient(45deg, rgb(169, 169, 169), orange);
  display: flex;
  justify-content: center;
  width: 300px;
  margin: auto;
  border-radius: 10px;
  font-family: "Fira Code", monospace;
}

.banner {
  background-image: url("/src/assets/images/graphic-arts-1771704_1280.jpg");
  background-size: cover;
  height: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .banner {
    height: 130px;
    margin-top: 20px;
  }
}

.collapse {
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .collapse {
    padding: 0 0;
    border-radius: 10px;
    width: 390px;
  }
}
.collapse__dropdown {
  width: 100%;
}
.collapse__dropdown__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #f2f3f4;
  margin: 0 auto;
  margin-top: 1.5em;
}
@media screen and (max-width: 768px) {
  .collapse__dropdown__title {
    padding: 0 0.1em;
  }
}
.collapse__dropdown__title h2 {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  padding: 0.5em 1em;
}
@media screen and (max-width: 768px) {
  .collapse__dropdown__title h2 {
    font-size: 15px;
    padding: 0.5em 1em;
  }
}
.collapse__dropdown__title p {
  color: black;
}
.collapse__dropdown__title p i {
  cursor: pointer;
  padding: 1em;
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .collapse__dropdown__title p i {
    font-size: 20px;
  }
}
.collapse__dropdown__content {
  background-color: white;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
}
.collapse__dropdown__content div {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: black;
  margin: 0 auto;
  padding: 0.8em;
}
@media screen and (max-width: 768px) {
  .collapse__dropdown__content div {
    font-size: 15px;
  }
}

.section-competence {
  padding: 50px 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  background-color: #F8F8FF;
  margin-top: 40px;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .section-competence {
    flex-direction: column;
  }
}
.section-competence__div1 {
  width: 60%;
  height: 700px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  padding: 5px;
  flex-direction: column;
  border: 5px solid black;
}
@media screen and (max-width: 768px) {
  .section-competence__div1 {
    width: 100%;
  }
}
.section-competence__div1 h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: black;
}
.section-competence__div1__text {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding-left: 25px;
}
.section-competence__div1__text i {
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  font-size: 27px;
  color: rgb(235, 181, 80);
}
.section-competence__div1__text h3 {
  text-transform: uppercase;
  font-family: "Fira Code", monospace;
  color: black;
}
.section-competence__div1__text p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.section-competence__div2 {
  width: 45%;
  height: 700px;
  background: linear-gradient(90deg, rgb(169, 169, 169), orange);
  border-radius: 10px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .section-competence__div2 {
    width: 100%;
  }
}
.section-competence__div2 h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: black;
}
.section-competence__div2 i {
  color: black;
  border: 2px solid white;
}
.section-competence__div2 h3 {
  color: white;
  font-family: "Fira Code", monospace;
}

.competence__div3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
  padding: 10px;
  width: 90%;
  margin: auto;
  border-radius: 10px;
}

.title-portfolio {
  text-align: center;
  font-family: "Fira Code", monospace;
  text-transform: uppercase;
}

.section-gallery {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  margin-top: 30px;
  border-radius: 10px;
  padding-top: 20px;
  background-color: #F8F8FF;
}
.section-gallery a {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .section-gallery {
    flex-direction: column;
  }
}
.section-gallery__card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 45%;
  margin: auto;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 50px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  position: relative;
  padding: 5px;
}
.section-gallery__card__title {
  position: absolute;
  right: 20%;
  top: 0%;
  transform: translate(50%, -50%);
  transition: transform 1.5s;
  text-decoration: none;
}
.section-gallery__card__title :hover {
  transform: scale(1.1);
}
.section-gallery__card__title h2 {
  background: linear-gradient(90deg, rgb(169, 169, 169), orange);
  font-size: 25px;
  color: white;
  padding: 12px 24px;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .section-gallery__card {
    width: 90%;
  }
}
.section-gallery__card__image1 {
  width: 100%;
  background-image: url("/src/assets/images/image-kasa.png");
  background-size: cover;
  border-radius: 10px;
}
.section-gallery__card__image2 {
  width: 100%;
  background-image: url("/src/assets/images/Capture d'écran 2024-01-17 172950.png");
  background-size: cover;
  border-radius: 10px;
}
.section-gallery__card__image3 {
  width: 100%;
  background-image: url("/src/assets/images/Capture d'écran 2024-01-29 181936.png");
  background-size: cover;
  border-radius: 10px;
}
.section-gallery__card__image4 {
  width: 100%;
  background-image: url("/src/assets/images/Capture d'écran 2024-01-29 182613.png");
  background-size: cover;
  border-radius: 10px;
}
.section-gallery__card__image5 {
  width: 100%;
  background-image: url("/src/assets/images/Capture d'écran 2024-01-29 184034.png");
  background-size: cover;
  border-radius: 10px;
}

.button-portfolio {
  width: 600px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  padding: 24px 34px;
  background: linear-gradient(90deg, rgb(169, 169, 169), orange);
  border-radius: 10px;
}
.button-portfolio a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  font-family: "Fira Code", monospace;
}

.fiche-container {
  background: linear-gradient(90deg, rgb(169, 169, 169), orange);
  border-radius: 10px;
  width: 90%;
  margin: auto;
}

.kasa-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.kasa-button a {
  padding: 8px 8px;
  background: linear-gradient(90deg, rgb(169, 169, 169), orange);
  font-size: 20px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
}

.fiche-banner {
  display: flex;
  width: 500px;
  margin: 0 auto;
  height: 300px;
  background-image: url("/src/assets/images/image-kasa.png");
  background-size: cover;
}

.fiche-text {
  text-align: center;
}
.fiche-text h2 {
  text-transform: uppercase;
  color: white;
}
.fiche-text p {
  width: 75%;
  margin: auto;
  font-size: 20px;
  font-family: "Fira Code", monospace;
  border: 2px solid black;
  margin-top: 30px;
  border-radius: 10px;
}

.fleche-return {
  margin-top: 30px;
}
.fleche-return_icon {
  color: black;
  font-size: 25px;
}
.fleche-return_icon i {
  padding: 10px;
}

.tag-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.tag-container__button {
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: 8px 8px;
  background-color: black;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .tag-container__button {
    font-size: 12px;
  }
}

.blue {
  background-color: #1498f9;
}

.red {
  background-color: red;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}/*# sourceMappingURL=index.css.map */