@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
  background-color: #ffffff;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }
}
.header__title {
  text-transform: uppercase;
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  color: rgb(20, 17, 17);
}
.header span {
  color: orange;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 209px;
  margin-top: 60px;
  background-color: black;
  border-radius: 10px 10px 0 0;
}
.footer p {
  color: white;
  font-size: 20px;
}
.footer p span {
  color: orange;
}

.nav-header {
  display: flex;
  gap: 25px;
}
@media screen and (max-width: 768px) {
  .nav-header {
    gap: 12px;
  }
}
.nav-header__nav-link-home, .nav-header__nav-link-portfolio, .nav-header__nav-link-contact {
  text-decoration: none;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: rgb(16, 15, 15);
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .nav-header__nav-link-home, .nav-header__nav-link-portfolio, .nav-header__nav-link-contact {
    font-size: 12px;
  }
}

.nav-header__nav-link-home:hover, .nav-header__nav-link-portfolio:hover, .nav-header__nav-link-contact:hover {
  color: orange;
}

.home {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: auto;
  margin-top: 20px;
  border-radius: 25%;
}
.home__title {
  font-family: "Fira";
  font-size: 40px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  letter-spacing: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .home__title {
    font-size: 25px;
  }
}

.section-container {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .section-container {
    flex-direction: column;
  }
}
.section-container__div1 {
  width: 50%;
  height: 600px;
  background-color: black;
  justify-content: center;
  position: relative;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .section-container__div1 {
    width: 100%;
    height: 500px;
  }
}
.section-container__div1 .circle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../assets/images/man-1283231_1280.webp");
  background-size: cover;
  padding: 130px;
  border-radius: 50px;
  background-color: black;
}
@media screen and (max-width: 768px) {
  .section-container__div1 .circle {
    padding: 90px;
    top: 30%;
  }
}
.section-container__div1 .circle__text {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-container__div1 .circle__text h2 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: white;
}
@media screen and (max-width: 768px) {
  .section-container__div1 .circle__text h2 {
    text-align: center;
  }
}
.section-container__div2 {
  width: 50%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  display: flex;
  background-color: rgb(235, 181, 80);
}
@media screen and (max-width: 768px) {
  .section-container__div2 {
    width: 100%;
  }
}
.section-container__div2 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-container__div2 div .fa-solid {
  font-size: 25px;
  color: #10100f;
}
@media screen and (max-width: 768px) {
  .section-container__div2 div .fa-solid {
    padding-top: 5px;
  }
}
.section-container__div2 div .fa-terminal {
  display: flex;
  justify-content: flex-start;
  padding-left: 25px;
}
.section-container__div2 div p {
  padding: 0 20px 0 20px;
  font-family: "Fira Code", monospace;
  font-size: 20px;
}
.section-container__div2 div .fa-code {
  display: flex;
  justify-content: end;
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .section-container__div2 div .fa-code {
    padding-bottom: 5px;
  }
}

.banner {
  background-image: url("/src/assets/images/graphic-arts-1771704_1280.jpg");
  background-size: cover;
  height: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .banner {
    height: 130px;
    margin-top: 20px;
  }
}

.collapse {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .collapse {
    padding: 0 0;
    border-radius: 10px;
    width: 390px;
  }
}
.collapse__dropdown {
  width: 100%;
}
.collapse__dropdown__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #f2f3f4;
  margin: 0 auto;
  margin-top: 1.5em;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .collapse__dropdown__title {
    padding: 0 0.1em;
  }
}
.collapse__dropdown__title h2 {
  color: green;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  padding: 0.5em 1em;
}
@media screen and (max-width: 768px) {
  .collapse__dropdown__title h2 {
    font-size: 15px;
    padding: 0.5em 1em;
  }
}
.collapse__dropdown__title p {
  color: green;
}
.collapse__dropdown__title p i {
  cursor: pointer;
  padding: 1em;
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .collapse__dropdown__title p i {
    font-size: 20px;
  }
}
.collapse__dropdown__content {
  background-color: #f7f7f7;
  width: 100%;
  border-radius: 5px;
}
.collapse__dropdown__content div {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: grey;
  margin: 0 auto;
  padding: 0.8em;
}
@media screen and (max-width: 768px) {
  .collapse__dropdown__content div {
    font-size: 15px;
  }
}

.section-competence {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .section-competence {
    flex-direction: column;
  }
}
.section-competence__div1 {
  width: 50%;
  height: 600px;
  background-color: black;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .section-competence__div1 {
    width: 100%;
  }
}
.section-competence__div1 h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: orange;
}
.section-competence__div1__text {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  padding-left: 50px;
}
.section-competence__div1__text i {
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid orange;
  font-size: 27px;
  color: white;
}
.section-competence__div1__text h3 {
  text-transform: uppercase;
  font-family: "Fira Code", monospace;
  color: white;
}
.section-competence__div2 {
  width: 50%;
  height: 600px;
  background-color: #f2f3f4;
  border-radius: 10px;
}
.section-competence__div2 h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.title-portfolio {
  text-align: center;
  font-family: "Fira Code", monospace;
}

.section-gallery {
  background-color: rgb(0, 0, 0);
  display: flex;
  height: auto;
  flex-wrap: wrap;
  margin-top: 30px;
  border-radius: 10px;
  padding-top: 20px;
}
@media screen and (max-width: 768px) {
  .section-gallery {
    flex-direction: column;
  }
}
.section-gallery__card {
  display: flex;
  flex-direction: row;
  width: 30%;
  margin: auto;
  height: 300px;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .section-gallery__card {
    width: 90%;
  }
}
.section-gallery__card__image1 {
  width: 50%;
  background-image: url("/src/assets/images/Capture d'écran 2024-01-17 171304.png");
  background-size: cover;
}
.section-gallery__card__image2 {
  width: 50%;
  background-image: url("/src/assets/images/Capture d'écran 2024-01-17 172950.png");
  background-size: cover;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}/*# sourceMappingURL=index.css.map */