@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap");
.home-citation {
  text-align: center;
  margin-top: 40px;
  font-family: "EB Garamond", serif;
  font-size: 25px;
}

.home {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: auto;
  margin-top: 20px;
  border-radius: 25%;
}
.home__title {
  font-family: "Fira";
  font-size: 40px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  letter-spacing: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .home__title {
    font-size: 25px;
  }
}

.section-container {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .section-container {
    flex-direction: column;
  }
}
.section-container__div1 {
  width: 50%;
  height: 600px;
  background-color: black;
  justify-content: center;
  position: relative;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .section-container__div1 {
    width: 100%;
    height: 500px;
  }
}
.section-container__div1 .circle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../assets/images/man-1283231_1280.webp");
  background-size: cover;
  padding: 130px;
  border-radius: 50px;
  background-color: black;
}
@media screen and (max-width: 768px) {
  .section-container__div1 .circle {
    padding: 90px;
    top: 30%;
  }
}
.section-container__div1 .circle__text {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-container__div1 .circle__text h2 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: white;
}
@media screen and (max-width: 768px) {
  .section-container__div1 .circle__text h2 {
    text-align: center;
  }
}
.section-container__div2 {
  width: 50%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  display: flex;
  background-color: rgb(235, 181, 80);
}
@media screen and (max-width: 768px) {
  .section-container__div2 {
    width: 100%;
  }
}
.section-container__div2 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-container__div2 div .fa-solid {
  font-size: 25px;
  color: #10100f;
}
@media screen and (max-width: 768px) {
  .section-container__div2 div .fa-solid {
    padding-top: 5px;
  }
}
.section-container__div2 div .fa-terminal {
  display: flex;
  justify-content: flex-start;
  padding-left: 25px;
}
.section-container__div2 div p {
  padding: 0 20px 0 20px;
  font-family: "Fira Code", monospace;
  font-size: 20px;
}
.section-container__div2 div .fa-code {
  display: flex;
  justify-content: end;
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .section-container__div2 div .fa-code {
    padding-bottom: 5px;
  }
}

.banner {
  background-image: url("/src/assets/images/graphic-arts-1771704_1280.jpg");
  background-size: cover;
  height: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .banner {
    height: 130px;
    margin-top: 20px;
  }
}/*# sourceMappingURL=home.css.map */