@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');


.section-competence {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;

    @media screen and (max-width: 768px) {
       flex-direction: column;
        }

    &__div1 {
        width: 50%;
        height: 600px;
        background-color: rgb(235, 181, 80);
        border-radius: 10px;

        @media screen and (max-width: 768px) {
            width: 100%;
            }

        h2 {
            text-align: center; 
            font-family: 'Montserrat', sans-serif;
            color: white;

          
        }

        &__text {
             display: flex;
             flex-direction: row;
             gap: 20px;
             align-items: center;
             padding-left: 50px;
          
            

            i {
                
               color: grey;
               display: flex;
               justify-content: center;
               align-items: center;
               border-radius:50%;
               width:50px;
               height:50px;
               border:2px solid black;
               font-size: 27px; 
               color: white;
              
            }

            h3 {
                text-transform: uppercase;
                font-family: 'Fira Code', monospace;
                color: black;
            }
        }   
    }

    &__div2 {
        width: 50%;
        height: 600px;
        background-color: black;
        border-radius: 10px;

        @media screen and (max-width: 768px) {
            width: 100%;
            }

      

            h2 {
                font-family: 'Montserrat', sans-serif;
                text-align: center;
                color: rgb(235, 181, 80);
            }

            i {
                color: rgb(235, 181, 80);
                border:2px solid white;
            }

            h3{
                color: white;
              
            }

            
        }

    }



