@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');


.section-competence {
    padding: 50px 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    background-color: #F8F8FF;
    margin-top: 40px;
    border-radius: 10px;

    @media screen and (max-width: 768px) {
       flex-direction: column;
       padding: 0 0;
       height: auto;
        }

    &__div1 {
        width: 60%;
        
       background-color: white;
        border-radius: 10px;
        display: flex;
        padding: 5px;
        flex-direction: column;
        border: 5px solid black;
        

        @media screen and (max-width: 768px) {
            width: 100%;
            }

        h2 {
            text-align: center; 
            font-family: 'Montserrat', sans-serif;
            color: black;

           

          
        }

        &__text {
             display: flex;
             flex-direction: row;
             gap: 10px;
             align-items: center;
             padding-left: 10px;
          
            

            i {
                
               color: grey;
               display: flex;
               justify-content: center;
               align-items: center;
               border-radius:50%;
               width:50px;
               height:50px;
               border:2px solid black;
               font-size: 27px; 
               color: rgb(235, 181, 80);
              
            }

            h3 {
                text-transform: uppercase;
                font-family: 'Fira Code', monospace;
                color: black;
            }

            p {
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;
               
            }
        }   
    }

    &__div2 {
        width: 45%;
       
        background: linear-gradient(90deg, rgb(169, 169, 169), orange);
        border-radius: 10px;
        gap: 15px;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 768px) {
            width: 100%;
            }

      

            h2 {
                font-family: 'Montserrat', sans-serif;
                text-align: center;
                color: black;
            }

            i {
                color: black;
                border:2px solid white;
            }

            h3{
                color: white;
                font-family: 'Fira Code', monospace;
              
            }

            
        }

      

    }

    .competence__div3 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border: 5px solid black ;
        padding: 10px;
        width: 100%;
        margin: auto;
        border-radius: 10px;
        margin-top: 20px;
    }



